@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: #fff8f3;
    --foreground: #1e1b17;
    --card: #ffffff;
    --card-foreground: #1e1b17;
    --popover: #ffffff;
    --popover-foreground: #1e1b17;
    --primary: #735a3e;
    --primary-foreground: #ffffff;
    --secondary: #f4ece6;
    --secondary-foreground: #4e453d;
    --muted: #f4ece6;
    --muted-foreground: #80756b;
    --accent: #f4ece6;
    --accent-foreground: #4e453d;
    --destructive: #ba1a1a;
    --destructive-foreground: #ba1a1a;
    --border: #d2c4b9;
    --input: #d2c4b9;
    --ring: #c4a484;
    --chart-1: #735a3e;
    --chart-2: #c4a484;
    --chart-3: #5f5e5b;
    --chart-4: #635d5a;
    --chart-5: #e3c19f;
    --radius: 0.5rem;
    --sidebar: #ffffff;
    --sidebar-foreground: #1e1b17;
    --sidebar-primary: #735a3e;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f4ece6;
    --sidebar-accent-foreground: #4e453d;
    --sidebar-border: #d2c4b9;
    --sidebar-ring: #c4a484;
}

.dark {
    --background: #1e1b17;
    --foreground: #e9e1db;
    --card: #2d2926;
    --card-foreground: #e9e1db;
    --popover: #2d2926;
    --popover-foreground: #e9e1db;
    --primary: #e3c19f;
    --primary-foreground: #33302c;
    --secondary: #33302c;
    --secondary-foreground: #e9e1db;
    --muted: #33302c;
    --muted-foreground: #a89e96;
    --accent: #33302c;
    --accent-foreground: #e9e1db;
    --destructive: #ffdad6;
    --destructive-foreground: #93000a;
    --border: #4e453d;
    --input: #4e453d;
    --ring: #735a3e;
    --chart-1: #e3c19f;
    --chart-2: #c4a484;
    --chart-3: #aba9a6;
    --chart-4: #cdc5c0;
    --chart-5: #ffddbb;
    --sidebar: #2d2926;
    --sidebar-foreground: #e9e1db;
    --sidebar-primary: #e3c19f;
    --sidebar-primary-foreground: #33302c;
    --sidebar-accent: #33302c;
    --sidebar-accent-foreground: #e9e1db;
    --sidebar-border: #4e453d;
    --sidebar-ring: #735a3e;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
